<%- include ("partials/header") %> 

	<div class="float-container">
		
		<div class="image" class="float-child">
			<img src="https://thumbs.dreamstime.com/b/young-engineer-wearing-glasses-safety-helmet-smart-yellow-which-				hands-holding-laptop-to-check-his-planned-work-image-white-164789960.jpg">
		</div>

		<div class="container" class="float-child">
			<p>
			Sono un giovane appassionato di infrastrutture. Questo termine comprende ferrovie (specialmente alta velocità), autostrade, fibra ecc... Per questo mi interesso di tutti i grandi e piccoli progetti in costruzione in Italia e all'estero.
			</p>
		</div>		
	</div>


	
<%- include ("partials/footer") %>